<html>

<span>
    <h1 class="stock-name"><%= @ticker["longName"] %></h1>
    <h2>Ticker: <%= @ticker["symbol"] %></h2>
</span>

<div>
    <section class="third-one">
        <ul>
            <h2>Market Open:</h2>
            <li>$<%= @ticker["regularMarketOpen"]["fmt"] %></li>
            <h2>52 Week Range:</h2>
            <li>$<%= @ticker["fiftyTwoWeekRange"]["fmt"] %></li>
            <h2>Market Cap:</h2>
            <li>$<%= @ticker["marketCap"]["fmt"] %></li>
            <h2>Outstanding Shares:</h2>
            <li><%= @ticker["sharesOutstanding"]["fmt"] %></li>
            <h2>Fifty Two Week High percent change:</h2>
            <li><%= @ticker["fiftyTwoWeekHighChange"]["fmt"] %>%</li>
        </ul>
    </section>

    <section class="third-two">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
        <div id="tradingview_97a76"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
        "width": 803, //980,
        "height": 500,  //610,
        "symbol": ":<%= @ticker["symbol"] %>",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_97a76"
        }
        );
        </script>
        </div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-<%= @ticker["symbol"] %>/" rel="noopener" target="_blank"><span class="blue-text"><%= @ticker["symbol"] %> Chart</span></a>  by TradingView</div>
        <!-- TradingView Widget END -->
    </section>
    
    <section class="third-three">
        <p>$<%= @ticker["fiftyTwoWeekRange"]["fmt"] %></p>
    </section>

</div>


<section class="news-section">
    <% @news.each do |story| %>
    <h2><a href= <%= story["url"]%> > <%=  story["headline"] %> </a></h2>
    <%= image_tag(story["image"], class: "news-img") %>
    <li> <%= story["summary"] %> </li>
    <% end %>
</section>


</html>    