<!DOCTYPE html>
<html>

  <header>
    <div class="top-header">
    <div class="i">
     <% #image_tag('hamburger-icon.png', class: "menu-icon", id: "hamburger") %> 
    </div>

    <div class="ii"><%= link_to image_tag('site-icon.png', class: "site-icon"), root_path %></div>

    <div class="iii"><section>
      <form action="/ticker" method="GET">
        <label for="ticker-search-bar">Search: </label>
        <input type="text" class="ticker-search-bar" name="search">
        <button type="submit">Submit</button>
      </form>
    </div>
    </div>
  </header>

  <div class="nav-bar">

      <a href="/"><li>Home</li><a>
      <a href="/daily_movers"><li>Daily Movers</li></a>
      <a href="/news"><li>News</li></a>
      <a href="/cryptocurrency"><li>Cryptocurrency</li></a>

  </div>

  <br>

  <head>
    <title>Ticker Central</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
